{
  "data": {
    "name": "Leo Weigand",
    "profile": {{ promptChoice "Machine profile" (list "personal" "work") | quote }},
    "email": {{ promptString "Which email should be used on this machine?" | quote }}
  }
}
