# Tool initializations

# Initialize starship prompt
eval "$(starship init zsh)"

# Load nvm
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"

# Initialize zoxide
eval "$(zoxide init --cmd z zsh)"

# Pre-populate zoxide with common directories
zoxide add "{{ .chezmoi.sourceDir }}"  # z dot
zoxide add "{{ .chezmoi.homeDir }}/.config"  # z conf
